/* Flexbox solution to display 5 x 5 */
.thumbnail-container {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 100px;
}

.thumbnail {
    flex: 1 0 18%;
    margin: 2px;
}

/* Adjust the modal to content */
.modal-dialog{
    position: relative;
    display: table;
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}